.bg-color{
    background: rgb(157,34,195) !important;
    background: linear-gradient(62deg, rgba(157,34,195,0.8926164215686274) 17%, rgba(38,160,217,0.8898153011204482) 57%, rgba(46,45,253,0.8393951330532212) 82% ) !important;
}
.text-color{
color: bisque;
}
.width-100{
    width: 100%;
}
.height-100vh{
    height: 100vh;
}
@media only screen and (max-width: 991px) {
    .flex-column-at-991 {
      flex-direction: column;
    }
    
  }
  @media only screen and (max-width: 600px) {
    .width-70-at-600{
      width: 325PX;
    }
    .flex-column-at-600 {
      flex-direction: column;
    }
  }
  .width-40{
    width: 40%;
  }
  .round-40{
    border-radius: 40%;
  }
  .glassmorph{
    /* From https://css.glass */
background: rgba(255, 255, 255, 0.02);

box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(5.2px);
-webkit-backdrop-filter: blur(5.2px);
/* border: 1px solid rgba(255, 255, 255, 0.08); */
  }
.pt-100{
    padding-top: 100px;
}
.gap-10{
    gap: 10px;
}
.round-16px{
  border-radius: 16px;
}
.width-70{
  width: 70%;
}